In [125]:
import pandas as pd

In [126]:
a = pd.read_csv('/Users/nathan/Downloads/alt_fuel_stations (Nov 18 2016).csv')

In [127]:
import requests as rq

In [128]:
maps_url = "https://maps.googleapis.com/maps/api/directions/json"
params = {
    "origin": "San+Francisco,+CA",
    "destination": "Lake+Tahoe,+CA",
    "key": "AIzaSyD1eFjwqRu21WRxk3_chL4YaZNf40RXKh8"
}
b = rq.get(maps_url, params=params)
j = b.json()

In [129]:
sw = r[0]['bounds']['southwest']
ne = r[0]['bounds']['northeast']

In [130]:
stations = a[(a['Latitude'] >= sw['lat']) & (a['Latitude'] <= ne['lat']) &
            (a['Longitude'] >= sw['lng']) & (a['Longitude'] <= ne['lng'])]

In [131]:
first_five = stations.head(5)

In [132]:
first_five['request_string'] = first_five['Street Address'] + "+" + first_five['City'] + "+" +first_five['State']

/Users/nathan/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [133]:
stn_addresses = first_five.loc[:,['ID','request_string']]

In [134]:
stn_addresses=stn_addresses.append(pd.DataFrame({'ID': -2, 'request_string': params['origin']}, index=[0]))
stn_addresses=stn_addresses.append(pd.DataFrame({'ID': -1, 'request_string': params['destination']}, index=[0]))
stn_addresses

      ID                   request_string
0   1495         725 7th St+Sacramento+CA
10  1533       1303 10th St+Sacramento+CA
49  7212       Lindbergh Dr+Sacramento+CA
61  7280  555 N Point St+San Francisco+CA
62  7286     1689 Arden Way+Sacramento+CA
0     -2                San+Francisco,+CA
0     -1                   Lake+Tahoe,+CA

In [135]:
final_arr = []
for i in range(len(stn_addresses)):
    for j in range(len(stn_addresses)):
        if i!=j:
            p = params.copy()
            p['origin'] = stn_addresses.iloc[i]['request_string']
            p['destination'] = stn_addresses.iloc[j]['request_string']
            b = rq.get(maps_url, params=p)
            js = b.json()
            b = {"origin": stn_addresses.iloc[i]['ID'],
             "destination": stn_addresses.iloc[j]['ID'],
             "distance_in_m": js['routes'][0]['legs'][0]['distance']['value'],
             "time_in_secs": js['routes'][0]['legs'][0]['duration']['value'],
            }
            final_arr.append(b)

In [136]:
final_arr

[{'destination': 1533,
  'distance_in_m': 1310,
  'origin': 1495,
  'time_in_secs': 321},
 {'destination': 7212,
  'distance_in_m': 17063,
  'origin': 1495,
  'time_in_secs': 741},
 {'destination': 7280,
  'distance_in_m': 140847,
  'origin': 1495,
  'time_in_secs': 5723},
 {'destination': 7286,
  'distance_in_m': 7426,
  'origin': 1495,
  'time_in_secs': 626},
 {'destination': -2,
  'distance_in_m': 140919,
  'origin': 1495,
  'time_in_secs': 5260},
 {'destination': -1,
  'distance_in_m': 193946,
  'origin': 1495,
  'time_in_secs': 7379},
 {'destination': 1495,
  'distance_in_m': 1236,
  'origin': 1533,
  'time_in_secs': 273},
 {'destination': 7212,
  'distance_in_m': 17815,
  'origin': 1533,
  'time_in_secs': 841},
 {'destination': 7280,
  'distance_in_m': 140880,
  'origin': 1533,
  'time_in_secs': 5864},
 {'destination': 7286,
  'distance_in_m': 7865,
  'origin': 1533,
  'time_in_secs': 762},
 {'destination': -2,
  'distance_in_m': 140952,
  'origin': 1533,
  'time_in_secs': 5401},
 {'destination': -1,
  'distance_in_m': 194698,
  'origin': 1533,
  'time_in_secs': 7479},
 {'destination': 1495,
  'distance_in_m': 17419,
  'origin': 7212,
  'time_in_secs': 832},
 {'destination': 1533,
  'distance_in_m': 19104,
  'origin': 7212,
  'time_in_secs': 899},
 {'destination': 7280,
  'distance_in_m': 147340,
  'origin': 7212,
  'time_in_secs': 5994},
 {'destination': 7286,
  'distance_in_m': 22231,
  'origin': 7212,
  'time_in_secs': 1202},
 {'destination': -2,
  'distance_in_m': 147412,
  'origin': 7212,
  'time_in_secs': 5531},
 {'destination': -1,
  'distance_in_m': 200736,
  'origin': 7212,
  'time_in_secs': 7609},
 {'destination': 1495,
  'distance_in_m': 140470,
  'origin': 7280,
  'time_in_secs': 5698},
 {'destination': 1533,
  'distance_in_m': 140268,
  'origin': 7280,
  'time_in_secs': 5698},
 {'destination': 7212,
  'distance_in_m': 147346,
  'origin': 7280,
  'time_in_secs': 5924},
 {'destination': 7286,
  'distance_in_m': 148542,
  'origin': 7280,
  'time_in_secs': 5940},
 {'destination': -2,
  'distance_in_m': 4200,
  'origin': 7280,
  'time_in_secs': 1007},
 {'destination': -1,
  'distance_in_m': 328406,
  'origin': 7280,
  'time_in_secs': 12592},
 {'destination': 1495,
  'distance_in_m': 7691,
  'origin': 7286,
  'time_in_secs': 555},
 {'destination': 1533,
  'distance_in_m': 10880,
  'origin': 7286,
  'time_in_secs': 660},
 {'destination': 7212,
  'distance_in_m': 22438,
  'origin': 7286,
  'time_in_secs': 1123},
 {'destination': 7280,
  'distance_in_m': 148919,
  'origin': 7286,
  'time_in_secs': 6003},
 {'destination': -2,
  'distance_in_m': 148991,
  'origin': 7286,
  'time_in_secs': 5540},
 {'destination': -1,
  'distance_in_m': 183326,
  'origin': 7286,
  'time_in_secs': 7015},
 {'destination': 1495,
  'distance_in_m': 141062,
  'origin': -2,
  'time_in_secs': 5239},
 {'destination': 1533,
  'distance_in_m': 140860,
  'origin': -2,
  'time_in_secs': 5239},
 {'destination': 7212,
  'distance_in_m': 147938,
  'origin': -2,
  'time_in_secs': 5465},
 {'destination': 7280,
  'distance_in_m': 4560,
  'origin': -2,
  'time_in_secs': 917},
 {'destination': 7286,
  'distance_in_m': 149134,
  'origin': -2,
  'time_in_secs': 5481},
 {'destination': -1,
  'distance_in_m': 328998,
  'origin': -2,
  'time_in_secs': 12133},
 {'destination': 1495,
  'distance_in_m': 189530,
  'origin': -1,
  'time_in_secs': 7283},
 {'destination': 1533,
  'distance_in_m': 192948,
  'origin': -1,
  'time_in_secs': 7412},
 {'destination': 7212,
  'distance_in_m': 200141,
  'origin': -1,
  'time_in_secs': 7555},
 {'destination': 7280,
  'distance_in_m': 329044,
  'origin': -1,
  'time_in_secs': 12689},
 {'destination': 7286,
  'distance_in_m': 183960,
  'origin': -1,
  'time_in_secs': 7063},
 {'destination': -2,
  'distance_in_m': 329116,
  'origin': -1,
  'time_in_secs': 12226}]

In [137]:
final_data = pd.DataFrame(final_arr)

In [138]:
final_data

    destination  distance_in_m  origin  time_in_secs
0          1533           1310    1495           321
1          7212          17063    1495           741
2          7280         140847    1495          5723
3          7286           7426    1495           626
4            -2         140919    1495          5260
5            -1         193946    1495          7379
6          1495           1236    1533           273
7          7212          17815    1533           841
8          7280         140880    1533          5864
9          7286           7865    1533           762
10           -2         140952    1533          5401
11           -1         194698    1533          7479
12         1495          17419    7212           832
13         1533          19104    7212           899
14         7280         147340    7212          5994
15         7286          22231    7212          1202
16           -2         147412    7212          5531
17           -1         200736    7212          7609
18         1495         140470    7280          5698
19         1533         140268    7280          5698
20         7212         147346    7280          5924
21         7286         148542    7280          5940
22           -2           4200    7280          1007
23           -1         328406    7280         12592
24         1495           7691    7286           555
25         1533          10880    7286           660
26         7212          22438    7286          1123
27         7280         148919    7286          6003
28           -2         148991    7286          5540
29           -1         183326    7286          7015
30         1495         141062      -2          5239
31         1533         140860      -2          5239
32         7212         147938      -2          5465
33         7280           4560      -2           917
34         7286         149134      -2          5481
35           -1         328998      -2         12133
36         1495         189530      -1          7283
37         1533         192948      -1          7412
38         7212         200141      -1          7555
39         7280         329044      -1         12689
40         7286         183960      -1          7063
41           -2         329116      -1         12226

In [139]:
final_data.to_csv('/Users/nathan/workspace/toy_data_2.csv')